<div class="container">
    <div class="x">
        <div>
            <h3>Apply For Personal Loan</h3>
            <h6>A personal loan is an unsecured loan, which means there is no physical property backing the loan. Mortgages and car loans, for example, are both considered to be secured loans. Borrowers can use personal loans for several reasons including loan consolidation, home repairs, vacations, emergency expenses and more. Personal loans are also often considered a good way to consolidate debt. </h6>
        </div>
        <!-- <button  class="btn btn-primary" routerLink="/personal-loan">Apply For Personal Loan</button> -->
        <a class="nav-link" routerLink="./personal-loan">Apply</a>
    </div>
    <div class="x">
        <div>
            <h3>Apply For Home Loan</h3>
            <h6>A home loan (or mortgage) is a contract between a borrower and a lender that allows someone to borrow money to buy a house, apartment, condo, or other livable property. A home loan is typically paid back over a term of 10, 15 or 30 years.</h6>
        </div>
        <button class="btn btn-primary" routerLink="/home-loan">Apply For Home Loan</button>
    </div>

    <!-- <div class="x">
        <div>
            <h3>Apply For Car Loan</h3>
            <h6>A personal loan is an unsecured loan, which means there is no physical property backing the loan. Mortgages and car loans, for example, are both considered to be secured loans. Borrowers can use personal loans for several reasons including loan consolidation, home repairs, vacations, emergency expenses and more. Personal loans are also often considered a good way to consolidate debt. </h6>
        </div>
        <button type="submit" class="btn btn-primary">Apply For Personal Loan</button>
    </div>
    <div class="x">
        <div>
            <h3>Apply For Gold Loan</h3>
            <h6>A home loan (or mortgage) is a contract between a borrower and a lender that allows someone to borrow money to buy a house, apartment, condo, or other livable property. A home loan is typically paid back over a term of 10, 15 or 30 years.</h6>
        </div>
        <button type="submit" class="btn btn-primary">Apply For Home Loan</button>
    </div> -->
</div>
