
<html>
    <body>
      <div class="col-md-6 offset-md-3 mt-5" id="box">
        <br>
        <h5 class="text">Select the account for which your require a cheque book. <mark> ***</mark></h5>
        <form accept-charset="UTF-8" action="https://getform.io/f/{your-form-endpoint-goes-here}" method="POST" enctype="multipart/form-data" target="_blank">
          <div class="form-group">
            <label for="exampleInputName">Account Number</label>
            <input type="text" name="fullname" class="form-control" id="exampleInputName" placeholder="Enter your Account number" required="required">
          </div>
          <div class="form-group">
            <label for="exampleInputEmail1" required="required">Account type</label>
            <input type="text" name="email" class="form-control"   placeholder="Enter your Account type">
          </div>
          <div class="form-row">
            <div class="form-group col-md-12">
              <label for="inputCity">Branch</label>
              <input type="text" name="password" class="form-control" id="inputpassword" placeholder="Enter Branch">
            </div>
            
            <h5 class="text">Enter the number of Books and Select the number of pages in each Book. <mark>***</mark></h5>
            <div class="form-group col-md-6">
                <label for="inputCity">Maximum Thereshold Limit for each</label>
                <input type="text"  class="form-control" id="inputmaximumlimit" placeholder="Enter Maximum limit">
            </div>
            
            <div class="form-group col-md-6">
                <label for="inputCity">Number of Cheque Books</label>
                <input type="text"  class="form-control" id="inputcheckbook" placeholder="Enter the number of cheque Books">
            </div>
            <div class="form-group col-md-6">
                <label for="inputCity">Number of Cheque Leaves</label>
                <input type="text"  class="form-control" id="inputcheckleaves" placeholder="Enter the number of cheque leaves">
            </div>
          </div>
          <br>
         
           <button type="submit" class="btn btn-primary">Submit</button>
        </form>
      </div>
    </body>
    
    </html>
    
    
